<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />

    <!-- For devices below API level 30 -->
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" android:maxSdkVersion="29"/>

    <!-- For devices above or equal to API level 30 -->
    <uses-permission android:name="android.permission.READ_MEDIA_IMAGES" android:minSdkVersion="30"/>

    <!-- Write permissions for file management if needed -->
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.MANAGE_EXTERNAL_STORAGE" />





    <application
        android:enableOnBackInvokedCallback="true"
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:networkSecurityConfig="@xml/network_security_config"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.GuestureGuide"
        android:usesCleartextTraffic="true"
        tools:targetApi="31">

        <activity

android:screenOrientation="portrait"

            android:name=".ProfilePictureActivity"
            android:exported="false" />

        <activity

android:screenOrientation="portrait"

            android:name=".EmailVerificationActivity"
            android:exported="false" />
        <activity

android:screenOrientation="portrait"

            android:name=".TeacherID_input"
            android:exported="false" />
        <activity

android:screenOrientation="portrait"
            android:name=".FailedScreen"
            android:exported="false" />

        <activity

            android:screenOrientation="portrait"
            android:name=".ForgotPasswordActivity"
            android:exported="false" />

        <activity

            android:screenOrientation="portrait"
            android:name=".VerifyCodeActivity"
            android:exported="false" />
        <activity

android:screenOrientation="portrait"
            android:name=".WaitingScreen"
            android:exported="false" />
        <activity

android:screenOrientation="portrait"
            android:name=".ForgotPassword"
            android:exported="false" />
        <activity

android:screenOrientation="portrait"
            android:name=".TeacherIDInputActivity"
            android:exported="false" />
        <activity

android:screenOrientation="portrait"
            android:name=".TeacherInformation"
            android:exported="false" />
        <activity

android:screenOrientation="portrait"
            android:name=".AccountSettings"
            android:exported="false" />
        <activity

android:screenOrientation="portrait"
            android:name=".LessonRecordActivity"
            android:exported="false" />
        <activity

android:screenOrientation="portrait"
            android:name=".QuizSummary"
            android:exported="false" />
        <activity

android:screenOrientation="portrait"
            android:name=".QuizRecordActivity"
            android:exported="false" />
        <activity

android:screenOrientation="portrait"
            android:name=".QuizFirstScreenFragment"
            android:exported="false" />
        <activity

android:screenOrientation="portrait"
            android:name=".CategoryFragment"
            android:exported="false" />
        <activity

android:screenOrientation="portrait"
            android:name=".RecordsFragment"
            android:exported="false" />
        <activity

android:screenOrientation="portrait"
            android:name=".ActivityFirstScreenFragment"
            android:exported="false" />
        <activity

android:screenOrientation="portrait" android:name=".ContentActivity" />
        <activity

android:screenOrientation="portrait" android:name=".HomeFragment" />
        <activity

android:screenOrientation="portrait" android:name=".ContentDescriptionActivity" />
        <activity

android:screenOrientation="portrait" android:name=".Activity" />
        <activity

android:screenOrientation="portrait" android:name=".ActivityFragment" />
        <activity

android:screenOrientation="portrait"
            android:name=".Content"
            android:exported="false" />
        <activity

android:screenOrientation="portrait"
            android:name=".QuizScoreActivity"
            android:exported="false" />
        <activity

android:screenOrientation="portrait"
            android:name=".Category"
            android:exported="false" />

        <activity

android:screenOrientation="portrait"
            android:name=".ChangePassword"
            android:exported="false" />
        <activity

android:screenOrientation="portrait"
            android:name=".StudentInformation"
            android:exported="false" />
        <activity

android:screenOrientation="portrait"
            android:name=".SignupForm"
            android:exported="false" />
        <activity

android:screenOrientation="portrait"
            android:name=".NavigationActivity"
            android:exported="false" /> <!-- Updated MainActivity with windowSoftInputMode -->
        <activity

android:screenOrientation="portrait"
            android:name=".MainActivity"
            android:exported="true"
            android:windowSoftInputMode="adjustPan">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>